*{
    margin: 0;
    padding: 0.5em;
}
body{
    background-color: #f3f3fc;
}

header{
   width: 100%;
   height: 5px;
   /*background-color: blue;*/
}

main {
    width: 100%;
    height: 90%;
    /*background-color: brown;*/
    display: flex;
    justify-content: space-between;
}

section {
    width: 40%;
    height: 100%;
    /*background-color: darkgreen;*/
}

.seccion1{
    width: 70%;
}
.area{
    width: 60%;
    height: 60%;
    display: block;
    margin-left: 8em;
    margin-top: 5em;
    resize: none; 
    font-size: 25px;
    border: none;
    background-color: #f3f3fc;
    outline: none;
}
.area::placeholder{
    color: #0a3871;
     font-size: 1.2em;
}

.parrafo{
    
    margin: 10px;
    font-size: 17px;
    margin-left: -37em;
    
}
.btn-encriptar{
   background-color: #0a3871;
   color: #fff;
   font-size: 18px;
   margin-left: -8em;
}
.btn-desencriptar{
    background-color: #d8dfe8;
    font-size: 18px;
    color: #0a3871;
    margin-left: 2em;
    border: 1px solid #0a3871;
}
.btn-encriptar, .btn-desencriptar{
    width: 30%;
    height: 70px;
    border-radius: 1.5em;
    margin-top: .5em;
    
    
}
.contenedor-botones{
    text-align: center;
    margin-top: 30px;
    
}

.seccion2 {
    width: 29%;
    background-color: #fff;
    margin-right: 5em;
    border-radius: 1em;
    box-sizing: border-box;
    overflow: hidden;
}
.contenedor-muñeco{
    width: 100%;
    height: 60%;
    padding-top: 150px;
    box-sizing: border-box;
    overflow: auto;
}
.contenedor-h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 26px;
    color: #0a3871;

}
.contenedor-parrafo{
    width: 100%;
    height: 20%;
    text-align: center;
    color: #0a3871;
    font-size: 18px;

}
.contenedor-resultado{
    width: 100%;
    height: 70%;
    padding: 25px;   
    font-size: 25px;
    
}
.texto-resultado{
    font-size: 20px;
    
}
.contenedor-copiar{
    width: 100%;
    height: 20%;
}
.btn-copiar{
    width: 80%;
    height: 70px;
    border-radius: 1.5em;
    display: block;
    margin: 5.5em;
    font-size: 18px;
    background-color: #d8dfe8;
    color: #0a3871;
    margin-left: 2.5em;
    border: 1px solid #0a3871;
    
}

footer {
    width: 100%;
    height: 50px;
    /*background-color: darkcyan;*/
    text-align: center;
}
.ocultar {
    display: none;
}
